a{
    text-decoration: none !important;
    color: rgba(55, 65, 81,1) !important;
    a:hover{
        text-decoration: none !important;
        color: rgba(55, 65, 81,1) !important;
    }
}

.nav-a{
    color: white;
}
